@import "./AppVariables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // Take into account the padding when calculating the elements width and height
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-family: "Noto Sans JP", sans-serif; */
  scroll-behavior: smooth;
}

body {
  // background-color: $background_color;
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  // margin: 0px;
  // overflow: hidden;
}

.app_container {
  background-color: $background_color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}
